body {
  background-color:#212121;
}
#root, .cover_wrapper, .array_container {
  display: flex;
  flex-direction:column;
}
#root {
  justify-content:center;
  align-items:center;
}
.cover_wrapper {
  height:28em;
}
.cover_img {
  height:24em;
  width:24em;
}

.tile {
  width:4em;
  height:4em;
}
.array_container {
  flex-wrap:wrap;
  height:24em;
  width:4em;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.lower_array {
  height:4em;
  width:28em;
  background-color:green;
}
.row {
  display: flex;
  flex-direction:row;
}
.col {
  display:flex;
  flex-direction:column;
}
